[Service]
Type=simple
User=azureuser
Group=azureuser

LimitNOFILE=65536
TasksMax=infinity
LimitNPROC=infinity

Nice=-5
AmbientCapabilities=CAP_SYS_NICE
IOSchedulingClass=best-effort
IOSchedulingPriority=2

Environment="HOME=/home/azureuser"
Environment="USER=azureuser"
# EnvironmentFile=/var/apps/omari/omar_bot/.env

WorkingDirectory=/var/apps/omari
ExecStart=/var/apps/omari/omar_bot/.venv/bin/omari

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
